DM Tool/bin/Debug/Yntheria/AdventureSites.xml
DM Tool/bin/Debug/Monsters.xml
*.xml
*.xml
DM Tool/bin/Debug/Qualitys.xml
DM Tool/bin/Debug/HardMaterials.xml
DM Tool/bin/Debug/Monsters.xml
DM Tool/bin/Debug/BaseItems.xml
*.xml
DM Tool/bin/Debug/BaseItems.xml
DM Tool/bin/Debug/CreatureTypes.xml
DM Tool/bin/Debug/CreatureTypes.xml
DM Tool/bin/Debug/BaseItems.xml
DM Tool/bin/Debug/BaseItems.xml
DM Tool/bin/Debug/CreatureTypes.xml
DM Tool/bin/Debug/Monsters.xml
DM Tool/bin/Debug/Qualitys.xml
DM Tool/bin/Debug/HardMaterials.xml
DM Tool/bin/Debug/Sizes.xml